/* Reset CSS */
@font-face {
    font-family: Poppins;
    src: url("assets/fonts/Poppins-SemiBold.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Основные стили */
body {
    font-family: Poppins, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #333;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Стили для заголовков */
h1, h2 {
    font-weight: 600;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Стили для параграфов */
p {
    font-size: 1rem;
    margin-bottom: 16px;
}

/* Стили для ссылок */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin-bottom: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    font-size: 1rem;
    color: #333;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #007bff;
}

.main-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    margin-bottom: 20px;
}

.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
}

.column {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.section {
    margin-bottom: 20px;
}

.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    background-color: #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #fff;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
    }
    
    .nav-item {
        margin: 5px 0;
    }
    
    .columns {
        grid-template-columns: 1fr;
    }
}
pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 0 auto;
    padding: 20px;
}
code {
    font-family: 'Courier New', Courier, monospace;
}
.footer img {
    width: 100px; /* Устанавливаем ширину */
    height: auto; /* Автоматический расчет высоты для сохранения пропорций */
    vertical-align: middle; /* Выравниваем изображение по вертикали */
}

